﻿@model Project.Models.Website

@{
    ViewBag.Title = "Delete";
}



<h3>Are you sure you want to delete this link?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Link Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WebsiteName)
        </dd>

        <dt>
            @Html.DisplayName("Link Address")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WebsiteAddress)
        </dd>

        <dt>
            @Html.DisplayName("List")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

        <dt>
            @Html.DisplayName("Created By")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> 
            @Html.ActionLink("Back to Lists", "Index","Home")
        </div>
    }
</div>
