﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Welcome to your page organiser</p>
<p>Organise your favourite websites into lists so you can go back to them with just few clicks</p>
<p>First create your list</p>
<p>Next click "new link" </p>
<p>Cusomise your link with a name,copy paste the address, choose your list and save</p>
<p>Easy peasy</p>
