﻿@model IEnumerable<Project.Models.Category>

@{
    ViewBag.Title = "Home Page";
}

<div style="margin-top:30px;">
    <table class="table">

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div style = "color:black;" > @Html.ActionLink(item.CategoryName, "Details", "Categories", new { id = item.CategoryId}, null) </div>
                </td>

            </tr>
        }

        <tr>
            <th>
                <p>
                    <button> @Html.ActionLink("New Website", "Create", "Websites")</button>
                </p>
            </th>
        </tr>

        <tr>
            <th>
                <p>
                    <button> @Html.ActionLink("New List", "Create", "Categories")</button>
                </p>
            </th>
        </tr>




    </table>
</div>

